<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="masthead mb-auto" th:fragment="header">
    <div class="inner">
        <h3 class="masthead-brand">RentExpress</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/" >Home</a>
            <a class="nav-link" href="/realty">Realties</a>
            <a class="nav-link" href="/owner">Owners</a>
        </nav>
    </div>
</header>
</body>
</html>