<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Realties</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(realties)}">
    <table class="table">
      <thead>
      <tr>
        <th>Address</th>
        <th>Storey</th>
        <th>M^2</th>
        <th>NoOfBedrooms</th>
        <th>Kitchen</th>
        <th>Bathroom</th>
        <th>Balconies</th>
        <th>Furnished</th>
        <th>RentPrice</th>
        <th>Availability</th>
        <th>Type of realty</th>
        <th>Owner</th>
        <th>Rent Requests</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="realty : ${realties}">
        <td th:text="${realty.address}"></td>
        <td th:text="${realty.storey}"></td>
        <td th:text="${realty.m2}"></td>
        <td th:text="${realty.noOfBedrooms}"></td>
        <td th:text="${realty.hasKitchen}"></td>
        <td th:text="${realty.hasBathroom}"></td>
        <td th:text="${realty.hasBalconies}"></td>
        <td th:text="${realty.isFurnished}"></td>
        <td th:text="${realty.rentPrice}"></td>
        <td th:text="${realty.availability}"></td>
        <td th:text="${realty.typeOfRealty}"></td>
        <td th:text="${realty.owner.lastName}"></td>
        <td><ul>
          <li th:each="request : ${realty.rentRequests}">
            <span th:text="${request.renter.lastName}"></span>
          </li>
        </ul></td>
        <td> <a th:href="@{'/realty/' + ${realty.id}}">Details</a></td>
        <td><a href="/request/new" class="btn btn-primary" role="button">Create new Request</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(realties)}">
    No Realties found!
  </div>
</div>
</body>
</html>