<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>Owners</title>
</head>
<body>
<div layout:fragment="main-content">
  <div th:if="${ not#lists.isEmpty(owners)}">
    <table class="table">
      <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Owned Realties</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="owner : ${owners}">
        <td th:text="${owner.firstName}"></td>
        <td th:text="${owner.lastName}"></td>
        <td th:text="${owner.email}"></td>
        <td th:text="${owner.phoneNumber}"></td>
        <td><ul>
          <li th:each="realty : ${owner.realties}">
            <span th:text="${realty.address}"></span>
          </li>
        </ul></td>
        <td> <a th:href="@{'/owner/' + ${owner.id}}">Details</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(owners)}">
    No Owners found!
  </div>
  <a href="/owner/new" class="btn btn-primary" role="button">Create new Owner</a>
  <a href="/owner/addRealty" class="btn btn-primary" role="button">Add Realty</a>
</div>
</body>
</html>